:root{
  --modifier-button-color: hsl(50, 100%, 50%);
  --seed-button-color: hsl(75, 50%, 50%);
  --animal-button-color: hsl(19, 73%, 45%);
}

.btn:active {
  outline: .5em solid rgba(255, 0, 0, 0.3) !important;
  outline-offset: -4px;
}

.btn {
  border-radius: .5em !important;
}

.image-zoom{
  transition: transform .2s;
}

.image-zoom:hover {
  transform: scale(1.2);
}

.modifier-button {
  background-color: var(--modifier-button-color) !important;
  filter: grayscale(40%);
}

.modifier-button:hover {
  background-color: var(--modifier-button-color) !important;
  filter: saturate(120%)
}

.modifier-button:active {
  background-color: var(--modifier-button-color) !important;
  filter: saturate(150%);
}

.modifier-button:not(:disabled):not(.disabled).active {
  background-color: var(--modifier-button-color) !important;
  filter: saturate(130%)
}

.modifier-button:active img {
  filter: grayscale(0%);
}

.modifier-button:not(:disabled):not(.disabled).active img {
  filter: grayscale(0%);
}

.seed-button {
  filter: grayscale(40%);
  background-color: var(--seed-button-color) !important;
}

.animal-button {
  filter: grayscale(40%);
  background-color: var(--animal-button-color) !important;
}

.animal-button,.seed-button:hover {
  filter: saturate(120%)
}

.animal-button,.seed-button:active {
  filter: saturate(150%)
}

.animal-button,.seed-button:not(:disabled):not(.disabled).active {
  filter: saturate(130%)
}

.animal-button,.seed-button:active img {
  filter: grayscale(0%);
}

.animal-button,.seed-button:not(:disabled):not(.disabled).active img {
  filter: grayscale(0%);
}

.skull-button-garden{
  position: absolute;
  top: 13.5em;
  right: 0;
  width: 2em;
  height: 2em;
  text-align:"center";
  padding: 0;
  opacity: 0.5;
  border: none;
  background: none;
  transition: .3s;
  font-size: 1em;
}

.skull-button-garden:hover{
  opacity: 1;
}

.skull-button-coop{
  position: absolute;
  top: 13.5em;
  right: 0;
  width: 2em;
  height: 2em;
  text-align:"center";
  padding: 0;
  opacity: 0.5;
  border: none;
  background: none;
  transition: .3s;
  font-size: 1em;
}

.skull-button-coop:hover{
  opacity: 1;
}

.skull-button-barn{
  position: absolute;
  top: 13.5em;
  right: 0;
  width: 2em;
  height: 2em;
  text-align:"center";
  padding: 0;
  opacity: 0.5;
  border: none;
  background: none;
  transition: .3s;
  font-size: 1em;
}

.skull-button-barn:hover{
  opacity: 1;
}

.plotid {
  color: #ddd;
  position: absolute;
  top: 0;
  left: 0.25em;
}